.payload {
	overflow: hidden;
    	text-overflow: ellipsis;
	white-space: nowrap;
	float:left;
	color:blue;
}

.machine_id {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 230px;
}

.ellipsize {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
}

#more_button {
    color: red;
    float: right;
}

#records_page_div{
    margin-top: 30px;
}

ul#records_pagination {
    margin-top: 0px;
    margin-bottom: 0px;
}

#records_page_bar {
    display:inline;
}

#page_size_menu {
    vertical-align: inherit;
}

.diagonal_cell {
    color:red;
    background-color: #F0F0F0;
    font-weight: bold;
}
.dimmed_cell {
    background-color: lightgrey;
    font-weight: bold;
}

/* Bootstrap tooltip overrides */
.tooltip.left .tooltip-inner {
    background-color: #337AB7;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #337AB7;
}


/* Stats tab special cases */
ul.legend-1 li,
ul.legend-2 li {
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  text-overflow: ellipsis;
}

div.series-legend {
    display: inline-block;
    height: 10px;
    width: 30px;
    margin-right: 5px;
    background-color: #E0E0E0;
}

/* Records table */
table.telem-records {
    table-layout: fixed;
}

th.row-id {
    width: 5%
}

th.row-source {
    width: 5%;
}

th.row-machine-id {
    width: 17%;
}

th.row-when {
    width: 8%;
}

th.row-severity {
    width: 7%;
}

th.row-class {
    width: 15%;
}

th.row-os {
    width: 8%;
}

th.row-version {
    width: 5%;
}

th.row-payload {
    width: 25%;
}

th.row-button {
    width: 5%;
}

td.row-payload {
    color: blue;
}
