module nginx-uwsgi 1.0;

require {
	type user_tmp_t;
	type httpd_t;
	type httpd_sys_content_t;
	type init_t;
	class sock_file write;
	class unix_stream_socket connectto;
}

#============= httpd_t ==============
allow httpd_t httpd_sys_content_t:sock_file write;

#!!!! This avc is allowed in the current policy
allow httpd_t init_t:unix_stream_socket connectto;
allow httpd_t user_tmp_t:sock_file write;
