[Unit]
Description=uWSGI in emperor mode
After=network.target

[Service]
User=@@nginx_user@@
Group=@@nginx_group@@
Environment="LOGTO=/var/log/uwsgi/emperor.log"
Environment="PATH=@@install_path@@venv/bin/uwsgi"
ExecStart=@@install_path@@venv/bin/uwsgi --master --emperor /etc/uwsgi/vassals --die-on-term --uid @@nginx_user@@ --gid @@nginx_group@@ --logto ${LOGTO}

[Install]
WantedBy=multi-user.target

